/* nav.navbar.navbar-default {
    margin-bottom: 0;
  } */


  /* .Nav {
    text-align: center;
    margin: 0px auto;
    display; block;
} */

.navstyles {

  text-align: center;
  font-weight: bold;
}